<style>
    body{
        background-color: rgba(240, 248, 255, 0.486);
    }
    .table {
        width: 550px;
        margin-left: 320px;
        /*border: 2px solid rgba(0, 0, 0, 0.551); */
        margin-top: 40px;
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size:18px;

    }
    .btn {
        margin-left: 500px;
    }
    .table{
        border: 2px solid rgba(0, 0, 0, 0.039);
        
    }
</style>

<br>
<h1 class="text-center">Booked Details</h1>
<div class="container">
   
    <table class="table table-borderless">
        <tbody>
        <tr>
            <th>Passenger Name</th>
            <td>{{data.dataValues.psngrname}}</td>
        </tr>
        <tr>
            <th>Passenger Contact</th>
            <td>{{data.dataValues.psngrcontact}}</td>
        </tr>
        <tr>
            <th>Cab License Number</th>
            <td>{{data.dataValues.cabnumber}}</td>
        </tr>
        <tr>
            <th>Number of Passengers</th>
            <td>{{data.dataValues.psngrno}}</td>
        </tr>
        <tr>
            <th>Pick-Up location</th>
            <td>{{data.dataValues.pickup}}</td>
        </tr>
        <tr>
            <th>Drop-Off location</th>
            <td>{{data.dataValues.dropoff}}</td>
        </tr>
        <tr>
            <th>Date</th>
            <td>{{data.dataValues.date}}</td>
        </tr>
        <tr>
            <th>Time</th>
            <td>{{data.dataValues.time}}</td>
        </tr>
        <tr>
            <th>Rate</th>
            <th>₹{{data.dataValues.rate}}</th>
        </tr>

</tbody>
    </table>

    <a href="/cab/payment/{{data.dataValues.id}}" class="btn btn-primary">Pay Now</a>
  
</div>